################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Pro_DesignMode/v16/Server/sqlite3/storage.ide
/.vs/Pro_DesignMode/v16/Server/sqlite3/db.lock
/.vs/Pro_DesignMode/v16/Server/sqlite3/storage.ide-shm
/.vs/Pro_DesignMode/v16/Server/sqlite3/storage.ide-wal
/.vs/Pro_DesignMode/v15/Server/sqlite3/db.lock
/.vs/Pro_DesignMode/v15/Server/sqlite3/storage.ide
/.vs/Pro_DesignMode/v15/Server/sqlite3/storage.ide-shm
/.vs/Pro_DesignMode/v15/Server/sqlite3/storage.ide-wal
/Pro_DesignMode/bin/Debug/Pro_DesignMode.exe
/Pro_DesignMode/bin/Debug/Pro_DesignMode.exe.config
/Pro_DesignMode/bin/Debug/Pro_DesignMode.pdb
